<div>
	<p><%= check_box_tag "delete_messages[]", message.id, false, id: "messages_#{message.id}" %></p>

	<p><%= message.author_id %></p>
	<p><%= message.message %></p>
	<p><%= message.message_type %></p>
	<%= link_to 'delete', delete_message_path(message) %>
</div>