<div class="form-group">
	<div class="user-edit-form-avatar form-image-upload", style="background-image: url('<%= current_user.user_info.avatar.url(:medium) %>')">
		<%= form.file_field :avatar, class: 'form-image-upload-input' %>
		<%= form.label :avatar, fa_icon('upload'), class: 'form-image-upload-label' %>
	</div>
</div>
<div class="form-group">
	<%= form.label :description, t('description'), class: 'user-edit-form-label' %>
	<div class="">
		<%= form.text_area :description, class: 'form-control' %>	
	</div>
</div>
<div class="form-group">
	<%= form.label :favorites_are_showable, t('favorites_are_showable'), class: 'user-edit-form-label' %>
	<%= form.check_box :favorites_are_showable, class: 'bootstrap-switch' %>	
</div>
<div class="form-group">
	<%= form.label :utauloids_are_showable, t('utauloids_are_showable'), class: 'user-edit-form-label' %>
	<%= form.check_box :utauloids_are_showable, class: 'bootstrap-switch' %>
</div>
<div class="form-group">
	<%= form.label :notif_when_vb_updated, t('notif_when_vb_updated'), class: 'user-edit-form-label' %>
	<%= form.check_box :notif_when_vb_updated, class: 'bootstrap-switch' %>
</div>
<div class="form-group">
	<%= form.label :notif_when_utauloid_faved, t('notif_when_utauloid_faved'), class: 'user-edit-form-label' %>
	<%= form.check_box :notif_when_utauloid_faved, class: 'bootstrap-switch' %>
</div>
<div class="form-group">
	<%= form.label :notif_when_utauloid_commented, t('notif_when_utauloid_commented'), class: 'user-edit-form-label' %>
	<%= form.check_box :notif_when_utauloid_commented, class: 'bootstrap-switch' %>
</div>
<div class="form-group">
	<h3 class="" ><%= t('user_links') %></h3>
	<%= form.fields_for :user_links do |builder| %>
	  <%= render "user_links/partials/edit_user_links", form: builder %>
	<% end %>
</div>