<div class="user-show">
	<%= render 'users/partials/showcase', user: @user %>

	<div class="container">
		<div class="col-xs-12 col-sm-3">
			<!-- buttons -->
		</div>

		<div class="col-xs-12 col-sm-9">
			<!-- messages -->
		</div>
	</div>
</div>
<div class="utauloid-list">
	<% if @user.user_info.utauloids_are_showable? && !@user.utauloids.blank? %>
	<div class="utauloid-list-title">
		<h2><%= t('user_utauloids') %></h2>
	</div>
	<div class="utauloid-list-grid">
		<%= render 'utauloids/partials/list', user_utaus: @user.utauloids.reverse %>
	</div>
	<% end %>
</div>
<div class="utauloid-list">
	<% if @user.user_info.favorites_are_showable? && !@user.favorites.blank? %>
	<div class="utauloid-list-title">
		<h2><%= t('user_favorites') %></h2>
	</div>
	<div class="utauloid-list-grid">
		<%= render 'utauloids/partials/list', user_utaus: @user.favorites.reverse %>
	</div>
	<% end %>
</div>
