<li>
	<div class="main-header-account dropdown">
	<% if user_signed_in? %>
		<a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="<%= current_user.nickname %>">
			<div class="flex-row">
				<div class="flex-column hidden-xs">
					<%= current_user.nickname %>
				</div>
				<div class="flex-column">
					<div class="img-circle-container">
						<%= image_tag current_user.user_info.avatar.url(:thumb), class: "img-responsive" %>
					</div>
				</div>
			</div>
		</a>
	<% else %>
		<a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="<%= t('login') %>"><%= t('login') %></a>
	<% end %>
		<div class="main-header-account-dropdown dropdown-menu <%= user_signed_in? ? "account" : "login" %>">
	  <% if user_signed_in? %>
			<div>
				<%= link_to account_path, {title: t('account')} do |l| %>
					<%= image_tag current_user.user_info.avatar.url(:thumb), class: "img-responsive" %>
				<% end %>
			</div>
			<div>
				<span class="main-header-account-dropdown-username"><%= link_to t('account'), account_path, title: t('account') %></span>
				<span>
				<% if !current_user.messages.where(seen: false, deleted: false).blank? %>
				<%= link_to t('has_notifications', number: current_user.messages.where(seen: false, deleted: false).count), messages_path, title: t('has_notifications', number: current_user.messages.where(seen: false, deleted: false).count) %>
				<% else %>
				<%= link_to t('has_no_notifications'), messages_path, title: t('has_no_notifications') %>
				<% end %>
				</span>
				<%= link_to t('sign_out'), destroy_user_session_path, method: :delete, title: t('sign_out'), class: "btn btn-danger btn-white" %>
			</div>
		<% else %>
		  <div class="main-header-account-dropdown-formlogin">
				<%= render 'devise/shared/signin' unless user_signed_in? %>
		  </div>
		<% end %>
		</div>
	</div>
</li>