<div class="container">
	<div class="row">
		<nav class="main-header-nav col-xs-12 col-sm-12">
			<ul class="hidden-xs">
				<li class="main-header-nav-logo"><%= link_to t('site_name'), root_path_path, title: t('site_name') %></li>
				<li><%= link_to t('find_an_utauloid'), utauloids_path, title: t('find_an_utauloid') %></li>
				<li><%= link_to t('about'), "", title: "Comming soon", class: 'disabled' %></li>
			</ul>
			<ul class="visible-xs hidden-sm">
				<li class="main-header-nav-logo"><%= link_to t('site_name'), root_path_path, title: t('site_name') %></li>
				<li>
					<a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="menu-xs-button"><%= t('menu') %></a>
					<ul class="main-header-nav-dropdown dropdown-menu">
						<li><%= link_to t('find_an_utauloid'), utauloids_path, title: t('find_an_utauloid') %></li>
						<li><%= link_to t('about'), "", title: "Comming soon", class: 'disabled' %></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><%= link_to t('utauloid_add'), new_utauloid_path, title: t('utauloid_add') %></li>
				<%= render "shared/header_account" %>
			</ul>
		</nav>
	</div>
</div>
