<%= render 'shared/errors', entity: @utauloid %>

<%= form_for(@utauloid) do |f| %>
	<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</p>
	<p>
	<%= f.label :japanese_name %>
	<%= f.text_field :japanese_name %>
	</p>
	<p>
	<%= image_tag @utauloid.avatar.url(:medium) unless @utauloid.avatar.blank? %>
	<%= f.label :avatar %>
	<%= f.file_field :avatar %>
	</p>
	<p>
	<%= image_tag @utauloid.cover.url(:medium) unless @utauloid.cover.blank? %>
	<%= f.label :cover %>
	<%= f.file_field :cover %>
	</p>
	<p>
	<%= audio_tag @utauloid.audio_preview.url, controls: true %>
	<%= f.label :audio_preview %>
	<%= f.file_field :audio_preview %>
	</p>
	<p>
	<%= f.label :gender %>
	<%= f.select(:gender, Utauloid.genders.keys.map {|gender| [gender.titleize,gender]}) %></p>
	<p>
	<%= f.label :vb_release_date, "Release date" %>
	<%= f.date_field :vb_release_date %>
	</p>
	<p>
	<%= f.label :vb_last_update, "Last update date" %>
	<%= f.date_field :vb_last_update %>
	</p>
	<p>
	<%= f.label :category_id %>
	<%= f.collection_select :category_id, Category.all, :id, :name %>
	<p>
	<p>
	<%= f.label :voice_language_ids, "Language" %>
	<%= f.collection_check_boxes :voice_language_ids, VoiceLanguage.order(:name), :id, :name %>
	<p>
	<p>
	<%= f.label :voicebank_type_ids, "Type" %>
	<%= f.collection_check_boxes :voicebank_type_ids, VoicebankType.order(:name), :id, :name %>
	<p>
	<p>
	<%= f.label :voice_characteristic_ids, "Characteristics" %>
	<%= f.collection_check_boxes :voice_characteristic_ids, VoiceCharacteristic.order(:name), :id, :name %>
	<p>
	<p>
	<%= f.label :creator_name, "Name of the creator (if that's not you)" %>
	<%= f.text_field :creator_name %>
	</p>
	<p>
	<%= f.label :wiki_url, "Utau Wiki URL :" %>
	<%= f.text_field :wiki_url, placeholder: "http://utau.wikia.com/wiki" %>
	</p>
	<p>
	<%= f.label :vocadb_url, "VocaDB URL :" %>
	<%= f.text_field :vocadb_url, placeholder: "http://vocadb.net/Ar/" %>
	</p>
	<%= f.submit %>
<% end %>