<%= image_tag @utauloid.avatar.url(:medium) unless @utauloid.avatar.blank? %>
<%= image_tag @utauloid.cover.url(:medium) unless @utauloid.cover.blank? %>
<%= audio_tag @utauloid.audio_preview.url, controls: true %>
<h1><%= @utauloid.name %></h1>
<p>Created by 
<% if @utauloid.creator_is_user %>
	<%= link_to @utauloid.creator.nickname, user_path(@utauloid.creator) %>
<% else %>
	<%= @utauloid.creator_name %>	
<% end %>
</p>

<% if current_user %>
	<%= render partial: "difficulty_votes/partials/vote" %>
<% end %>

<% @comments.each do |c| %>
	<% if !c.message.blank? %>
		<%= render partial: "utauloid_comments/partials/show", locals: { comment: c } %>
	<% end %>
<% end %>
<% if current_user %>
	<%= render partial: "utauloid_comments/partials/new" %>
<% end %>
