<%= image_tag @utauloid.cover.url(:medium) %>
<%= audio_tag @utauloid.audio_preview.url, controls: true unless @utauloid.audio_preview.blank? %>
<h1><%= @utauloid.name %></h1>
<p>Created by 
<% if @utauloid.creator_is_user %>
	<% if @utauloid.creator.user_info.utauloids_are_showable %>
		<%= link_to @utauloid.creator.nickname, user_path(@utauloid.creator) %>
	<% else %>
		Anonymous
	<% end %>
<% else %>
	<%= @utauloid.creator_name %>	
<% end %>
</p>

<%= link_to 'Report', report_utauloid_path(@utauloid), id: "report_utauloid_#{@utauloid.id}", remote: true if current_user && !@utauloid.reports.exists?(user_id: current_user.id) %>

<% if current_user %>
	<%= render partial: "difficulty_votes/partials/vote" %>
	<%= render partial: 'favorite_utauloids/partials/favorites' %>
<% end %>

<h2>Voice banks</h2>
<% @voice_banks.each do |vb| %>
  <%= render partial: "voice_banks/partials/voice_bank", locals: { voice_bank: vb } %>
<% end %>

<h2>Comments</h2>
<div id="comments_list">
<% if !@comments.blank? %>
	<% @comments.each do |c| %>
		<% if !c.message.blank? %>
			<%= render partial: "utauloid_comments/partials/list_item", locals: { comment: c } %>
		<% end %>
	<% end %>
<% end %>
</div>
<% if current_user %>
	<%= render partial: "utauloid_comments/partials/new" %>
<% end %>
