<div class="utauloid-show">
	<%= render 'utauloids/partials/showcase', utau: @utauloid, on_homepage: false; %>

	<div class="container">
		<div class="col-xs-12 col-sm-3">
			<div class="utauloid-show-voicebanks">
				<%= render partial: "voice_banks/partials/list_for_utauloid", locals: { utau: @utauloid, voice_banks: @voice_banks } %>
			</div>
		</div>

		<div class="col-xs-12 col-sm-9">
			<div class="utauloid-show-comments">
				<div class="utauloid-show-comments-title">
					<h2><%= t('comments') %></h2>
				</div>
				<%= render partial: "utauloid_comments/partials/new" %>
				<div id="comments_list" class="utauloid-show-comments-list">
				<% if !@comments.blank? %>
					<% @comments.each do |c| %>
						<% if !c.message.blank? %>
							<%= render partial: "utauloid_comments/partials/list_item", locals: { comment: c } %>
						<% end %>
					<% end %>
				<% end %>
				</div>
			</div>
		</div>

	</div>

</div>