<div class="grid-item">
	<div class="grid-item-content">
		<% if utau.voice_banks.count > 1 %>
		<div class="grid-item-append">
			<%= image_tag 'append_list_item_banner.png' %>
		</div>
		<% end %>
		<div class="grid-item-hover">
			<div id="<%= "audio_#{utau.id}" %>" class="grid-item-audio-preview-button">
			<% if !utau.audio_preview.blank? %>
				<audio id="<%= "audio_#{utau.id}" %>" preload='none' src='<%= utau.audio_preview.url %>' type='<%= utau.audio_preview.content_type %>'></audio>
				<div class="grid-item-audio-preview-button-icon-container">
					<%= fa_icon "play-circle-o" %>
				</div>
			<% end %>
			</div>
			<div class="grid-item-name">
				<h3><%= link_to utau.name, utau, title: utau.name %></h3>
			</div>
		</div>
		<%= image_tag utau.avatar.url(:medium), alt: utau.name, class: "img-responsive" %>
	</div>
</div>