<div class="form-group">
	<div class="col-sm-12">
		<%= text_field_tag :name, params[:name], value: params[:name], placeholder: "#{t('search_name_placeholder')}", class: "form-control" %>
	</div>
</div>
<div class="form-group">
	<%= label_tag t('gender'), nil, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
	  <% Utauloid.genders.keys.map {|gender| [gender.titleize,gender]}.each_with_index do |g, i| %>
		  <%= label_tag g.first %>
		  <% if params[:gender].nil? %>
		  	<%= check_box_tag "gender[]", g.second, false, id: "gender_#{g.second}", class: "" %>
		  <% else %>
				<%= check_box_tag "gender[]", g.second, params[:gender].include?(g.second) ? true : false, id: "gender_#{g.second}", class: "form-control" %>
		  <% end %>
		<% end %>
	</div>
</div>
<div class="form-group">
	<%= label_tag t('language'), nil, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
	  <% VoiceLanguage.order(:name).each_with_index do |l, i| %>
		  <%= label_tag l.name %>
		  <% if params[:language].nil? %>
		  	<%= check_box_tag "language[]", l.id, false, id: "language_#{l.id}", class: "" %>
		  <% else %>
		  	<%= check_box_tag "language[]", l.id, params[:language].include?(l.id.to_s) ? true : false, id: "language_#{l.id}", class: "form-control" %>
		  <% end %>
		<% end %>
	</div>
</div>
<div class="form-group">
	<%= label_tag t('voicebank_type'), nil, class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
	  <% VoicebankType.order(:name).each_with_index do |vbt, i| %>
		  <%= label_tag vbt.name %>
		  <% if params[:voicebank_type].nil? %>
		  	<%= check_box_tag "voicebank_type[]", vbt.id, false, id: "voicebank_type_#{vbt.id}", class: "" %>
		  <% else %>
		  	<%= check_box_tag "voicebank_type[]", vbt.id, params[:voicebank_type].include?(vbt.id.to_s) ? true : false, id: "voicebank_type_#{vbt.id}", class: "form-control" %>
		  <% end %>
		<% end %>
	</div>
</div>
<div class="form-group">
	<%= label_tag t('voice_characterisation'), nil, class: "col-sm-2 control-label" %>
	<div class="col-sm-10">
	  <% VoiceCharacteristic.order(:name).each_with_index do |vc, i| %>
		  <%= label_tag vc.name %>
		  <% if params[:voice_characteristic].nil? %>
		  	<%= check_box_tag "voice_characteristic[]", vc.id, false, id: "voice_characteristic_#{vc.id}", class: "" %>
		  <% else %>
		  	<%= check_box_tag "voice_characteristic[]", vc.id, params[:voice_characteristic].include?(vc.id.to_s) ? true : false, id: "voice_characteristic#{vc.id}", class: "form-control" %>
		  <% end %>
		<% end %>
	</div>
</div>
<p>Advanced Options</p>
<div class="form-group">
	<%= label_tag t('creator_name'), nil, class: "col-sm-2 control-label" %>
	<div class="col-sm-4">
		<%= text_field_tag :creator_name, params[:creator_name], placeholder: "#{t('search_creator_name_placeholder')}", class: "form-control" %>
	</div>
	<%= label_tag t('release_date'), nil, class: "col-sm-2 control-label" %>
	<div class="col-sm-4">
		<% if params[:release_date].nil? %>
				<%= select_tag :release_date, options_from_collection_for_select(get_search_date_options, :first, :last), { include_blank: 'None', class: "form-control" } %>
		<% else %>
				<%= select_tag :release_date, options_from_collection_for_select(get_search_date_options, :first, :last, params[:release_date]), { include_blank: 'None', class: "form-control" } %>
		<% end %>
	</div>
</div>
<div class="form-group">
	<%= label_tag t('last_update'), nil, class: "col-sm-2 control-label" %>
	<div class="col-sm-4">
		<% if params[:update_date].nil? %>
				<%= select_tag :update_date, options_from_collection_for_select(get_search_date_options, :first, :last), { include_blank: 'None', class: "form-control" } %>
		<% else %>
				<%= select_tag :update_date, options_from_collection_for_select(get_search_date_options, :first, :last, params[:update_date]), { include_blank: 'None', class: "form-control" } %>
		<% end %>
	</div>
	<%= label_tag t('group'), nil, class: "col-sm-2 control-label" %>
	<div class="col-sm-4">
		<% if params[:group].nil? %>
			<%= select_tag :group, options_from_collection_for_select(Category.order(:name), :id, :name), { include_blank: 'None', class: "form-control" } %>
		<% else %>
			<%= select_tag :group, options_from_collection_for_select(Category.order(:name), :id, :name, params[:group]), { include_blank: 'None', class: "form-control" } %>
		<% end %>
	</div>
</div>

<%= submit_tag "Search", class: "btn" %>