<div class="showcase">
	<div class="container">

		<div class="showcase-title row">
			<h2><%= t('utauloid_showcase') %></h2>
		</div>
				
		<div class="showcase-utauloid row">
			<div class="col-xs-12 col-sm-12">
				<div class="showcase-utauloid-content">

					<div class="showcase-background">
						<div class="showcase-background-image" style="background-image: url('<%= utau.cover.url(:medium) %>');"></div>
					</div>

					<div class="showcase-utauloid-content-infos">
						<div class="row">
							<div class="col-xs-12 col-sm-3">
								<%= audio_tag utau.audio_preview.url, controls: false, id: "audio_showcase_preview" unless utau.audio_preview.blank? %>
								<div id="audio_showcase_preview" class="showcase-utauloid-audio-preview-button">
									<div class="showcase-utauloid-audio-preview-button-icon-container">
										<%= fa_icon "play-circle-o" %>
									</div>
									<%= image_tag utau.cover.url(:medium), class: "img-responsive" %>
								</div>
							</div>
							<div class="col-sm-9 col-xs-12">
								<div class="row">
									<div class="showcase-utauloid-content-infos-top col-xs-12 col-sm-12">
										<div>
											<h3 class="showcase-utauloid-content-infos-top-name"><%= link_to "#{utau.name} - #{utau.japanese_name}", utau, title:"#{utau.name} - #{utau.japanese_name}" %></h3>
											<span class="showcase-utauloid-content-infos-top-creator">
												<%= t('created_by') %> -
												<% if utau.creator_is_user && utau.creator.user_info.utauloids_are_showable %>
													<%= link_to utau.creator.nickname, user_path(utau.creator), title:utau.creator.nickname %>
												<% elsif utau.creator_is_user && !utau.creator.user_info.utauloids_are_showable %>
													<%= t('anonymous') %>
												<% else %>
													<%= utau.creator_name %>	
												<% end %>
											</span>
										</div>
									</div>
								</div>
								<div class="showcase-utauloid-content-infos-bottom row">
									<div class="col-xs-12 col-sm-6">
										<span class="showcase-utauloid-content-infos-bottom-attribute-title"><%= t('gender') %></span>
										<span class="showcase-utauloid-content-infos-bottom-attribute-content"><%= utau.gender %></span>
										<span class="showcase-utauloid-content-infos-bottom-attribute-title"><%= t('language') %></span>
										<span class="showcase-utauloid-content-infos-bottom-attribute-content"><%= utau.voice_languages.collect { |c| c.name }.join(", ") %></span>
									</div>
									<div class="col-xs-12 col-sm-6">
										<span class="showcase-utauloid-content-infos-bottom-attribute-title"><%= t('voicebank_type') %></span>
										<span class="showcase-utauloid-content-infos-bottom-attribute-content"><%= utau.voicebank_types.collect { |c| c.name }.join(", ") %></span>
										<span class="showcase-utauloid-content-infos-bottom-attribute-title"><%= t('characteristics') %></span>
										<span class="showcase-utauloid-content-infos-bottom-attribute-content"><%= utau.voice_characteristics.collect { |c| c.name }.join(", ") %></span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>