<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<header>
		<%= render 'shared/menu' %>
		<%= render 'devise/shared/signin' unless user_signed_in? %>
		<%= render "shared/header_account" if user_signed_in? %>
	</header>
	<%= yield %>
</div>

</body>
</html>
