<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title.blank? ? "Utaupia" : @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= render 'shared/header' %>
<div class="main-container">
	<% if !flash.blank? %>
  <%= render 'shared/flashes' %>
	<% end %>
	<%= yield %>
</div>
<%= render 'shared/footer' %>
</body>
</html>
